{% load static %}


<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="icon.png">
  <link rel="stylesheet" href="{% static 'frontend/main.css' %}">
</head>
<body>

{% include 'frontend/partials/header.html' %}

{% block content %}
{% endblock content %}

{% include 'frontend/partials/footer.html' %}
</body>
<script src="{% static 'frontend/index.bundle.js' %}"></script>
</html>